In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('PrecoTaxaTesouroDireto.csv', sep=';')

# https://dados.gov.br/dados/conjuntos-dados/taxas-dos-titulos-ofertados-pelo-tesouro-direto1

In [3]:
data.head(5)

,Tipo Titulo,Data Vencimento,Data Base,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha
0,Tesouro IPCA+,15/08/2024,24/04/2018,"4,56","4,68","2318,97","2302,31","2301,68"
1,Tesouro Prefixado,01/01/2023,24/04/2018,"9,07","9,19","666,41","662,99","662,76"
2,Tesouro Prefixado com Juros Semestrais,01/01/2021,24/04/2018,"7,78","7,90","1081,56","1078,72","1078,40"
3,Tesouro Prefixado,01/01/2019,03/04/2018,"6,14","6,26","956,74","955,94","955,71"
4,Tesouro IPCA+ com Juros Semestrais,15/05/2035,03/04/2018,"5,00","5,12","3484,09","3440,37","3439,54"

In [4]:
data.columns

Index(['Tipo Titulo', 'Data Vencimento', 'Data Base', 'Taxa Compra Manha',
       'Taxa Venda Manha', 'PU Compra Manha', 'PU Venda Manha',
       'PU Base Manha'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129701 entries, 0 to 129700
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Tipo Titulo        129701 non-null  object
 1   Data Vencimento    129701 non-null  object
 2   Data Base          129701 non-null  object
 3   Taxa Compra Manha  129701 non-null  object
 4   Taxa Venda Manha   129701 non-null  object
 5   PU Compra Manha    129701 non-null  object
 6   PU Venda Manha     129701 non-null  object
 7   PU Base Manha      129701 non-null  object
dtypes: object(8)
memory usage: 7.9+ MB